
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="hero-wrap ftco-degree-bg" style="background-image: url(../../images/bgb4.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8  ">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">We ALL Can Shuttle Any AutoCar We Want</h1>
                    <p style="font-size: 18px;">Car rental request for better prices, Best Car Shuttle AutoCars in Morroco,           Secure Online Booking</p>
                    <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center" style="width: 30px;height: 30px;">

                        </div>
                        <div class="heading-title ml-5">
                            <span>Easy steps for shuttle an autocar</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form action="login.html" class="request-form   bg-dark">
                            <h2>Begin your first shuttle here</h2>
                            <div class="form-group">
                                <label for="" class="label">Num AutoCar</label>
                                <input type="text" class="form-control" placeholder="num of the car">
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Ville Depart</label>
                                    <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Ville Arrivee</label>
                                    <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Date Depart</label>
                                    <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Date Arrivee</label>
                                    <input type="text" class="form-control" id="book_off_date" placeholder="Date">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Heur Debut</label>
                                    <input type="text" class="form-control" id="book_pick_Time" placeholder="Time">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Heur Fin</label>
                                    <input type="text" class="form-control" id="book_off_Time" placeholder="Time">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Reserve an AutoCar" class="btn btn-secondary py-3 px-4">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Better Way to Shuttle Your Perfect Cars</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch  ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="col-md-2 p-md-3 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/flaticon-route.png); "></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch  ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="col-md-2 p-md-3 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/flaticon-route.png); "></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Select the Best Compagny </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch  ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="col-md-2 p-md-3 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/flaticon-route.png); "></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Reserve Your Perfect AutoCar</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a href="car.html" class="btn btn-primary py-3 px-4">Review our AutoCar</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center   mb-5">
                <span class="subheading">What we offer</span>
                <h2 class="mb-2">Feeatured Vehicles</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="car-wrap rounded   ">
                        <div class="img rounded d-flex align-items-end" style="background-image: url(../../images/car-1.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Mercedes Grand Sedan</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>
                                <p class="price ml-auto">$500 <span>/day</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded   ">
                        <div class="img rounded d-flex align-items-end" style="background-image: url(../../images/car-2.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Range Rover</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Subaru</span>
                                <p class="price ml-auto">$500 <span>/day</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded   ">
                        <div class="img rounded d-flex align-items-end" style="background-image: url(../../images/car-3.jpg);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Mercedes Grand Sedan</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>
                                <p class="price ml-auto">$500 <span>/day</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about  ">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">About us</span>
                    <h2 class="mb-4">Welcome to WeAllNav</h2>

                    <p>Car rental request for better prices, Best Car Shuttle AutoCars in Morroco, Secure Online Booking, 24/7 Customer Support, Best Shuttle a Car Deals, Brand New Cars, Free Cancellation, Book onlin.</p>
                    <p><a href="/AutoCars/Index.cshtml" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section  ">
                <span class="subheading">Services</span>
                <h2 class="mb-3">Our Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="col-md-2 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/flaticon-route1.png); "></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">City Transfer</h3>
                        <p>Car rental request for better prices, Best Car Shuttle AutoCars in Morroco, 24/7, Best Shuttle a Car Companies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="col-md-3 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/collaboration3.png);"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Collaboration</h3>
                        <p>Car rental request for better prices, Best Car Shuttle AutoCars in Morroco, 24/7, Best Shuttle a Car Companies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="col-md-2 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/AirportBus.png); "></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Airport Transfer</h3>
                        <p>Car rental request for better prices, Best Car Shuttle AutoCars in Morroco, 24/7, Best Shuttle a Car Companies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="col-md-3 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../images/CityTour3.png); "></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Whole City Tour</h3>
                        <p>Car rental request for better prices, Best Car Shuttle AutoCars in Morroco, 24/7, Best Shuttle a Car Companies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-section img" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap  ">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="2">2</strong>
                        <span>Year <br>Experienced</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap  ">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="1000">1000</strong>
                        <span>Total <br>Cars</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap  ">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="2700000">2700000</strong>
                        <span>Happy <br>Customers</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap  ">
                <div class="block-18" style="margin-left: 80px;">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="40">40</strong>
                        <span>Total <br>Cites</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

